<!-- <div style="text-align: right;padding: 8px">
  <label style="margin-right: 8px">{{currentUploadingFile}}</label>
  <nz-upload nzDirectory [nzCustomRequest]="uploadReq" (nzChange)="uploadChange($event)" [nzBeforeUpload]="beforeUpload"
    [nzShowUploadList]="false">
    <button nz-button nzType="primary" [nzLoading]="uploading" [disabled]="uploading"><i nz-icon
        type="upload"></i>上传项目</button>
  </nz-upload>
</div> -->
<nz-table #containerTable [nzData]="containers" [nzPageSize]="10">
  <thead>
    <tr>
      <!-- <th nzWidth="300px">IMAGE</th> -->
      <!-- <th>CREATED</th> -->
      <th>STATE</th>
      <th nzWidth="300px">PORTS</th>
      <th>NAMES</th>
      <th>ACTION</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let container of containerTable.data;let i=index">
      <!-- <td>{{container.image}}</td> -->
      <!-- <td>{{container.created}}</td> -->
      <td [ngStyle]="{'color':container.state==='running'?'green':'black'}">{{container.state}}</td>
      <td>{{container.ports}}</td>
      <td>{{container.names}}</td>

      <td>
        <button nz-button nzType="primary" (click)="start(container.id)" *ngIf="container.state!=='running'">启动</button>
        <nz-divider nzType="vertical" *ngIf="container.state!=='running'"></nz-divider>
        <button nz-button nzType="danger" (click)="remove(container.id)" *ngIf="container.state!=='running'">删除</button>
        <nz-divider nzType="vertical" *ngIf="container.state!=='running'"></nz-divider>
        <button nz-button nzType="primary" (click)="exec(container.id)" *ngIf="container.state==='running'">执行</button>
        <nz-divider nzType="vertical" *ngIf="container.state==='running'"></nz-divider>
        <button nz-button nzType="danger" (click)="stop(container.id)" *ngIf="container.state==='running'">停止</button>
        <nz-divider nzType="vertical" *ngIf="container.state==='running'"></nz-divider>
        <button nz-button nzType="danger" (click)="kill(container.id)" *ngIf="container.state==='running'">强制停止</button>
        <nz-divider nzType="vertical" *ngIf="container.state==='running'"></nz-divider>
        <button nz-button nzType="danger" (click)="restart(container.id)"
          *ngIf="container.state==='running'">重启</button>
        <nz-divider nzType="vertical" *ngIf="container.state==='running'"></nz-divider>

        <button nz-button (click)="stats(container.id)" *ngIf="container.state==='running'">状态</button>
        <nz-divider nzType="vertical" *ngIf="container.state==='running'"></nz-divider>
        <button nz-button (click)="rename(container.id)">重命名</button>
        <!-- <nz-dropdown>
          <a nz-dropdown> 操作 <i nz-icon type="down"></i> </a>
          <ul nz-menu nzSelectable>
            <li nz-menu-item (click)="stop(container.id)" *ngIf="container.state==='running'">
              <a>停止</a>
            </li>
            <li nz-menu-item (click)="kill(container.id)" *ngIf="container.state==='running'">
              <a>强制停止</a>
            </li>
            <li nz-menu-item (click)="start(container.id)" *ngIf="container.state!=='running'">
              <a>启动</a>
            </li>
            <li nz-menu-item (click)="restart(container.id)" *ngIf="container.state==='running'">
              <a>重启</a>
            </li>
            <li nz-menu-item (click)="exec(container.id)" *ngIf="container.state==='running'">
              <a>执行</a>
            </li>
            <li nz-menu-item (click)="remove(container.id)" *ngIf="container.state!=='running'">
              <a>删除</a>
            </li>
          </ul>
        </nz-dropdown>
        <nz-divider nzType="vertical"></nz-divider>
        <nz-dropdown>
          <a nz-dropdown> 信息 <i nz-icon type="down"></i> </a>
          <ul nz-menu nzSelectable>
            <li nz-menu-item (click)="stats(container.id)" *ngIf="container.state==='running'">
              <a>状态</a>
            </li>
            <li nz-menu-item (click)="rename(container.id)">
              <a>重命名</a>
            </li>
          </ul>
        </nz-dropdown> -->
      </td>
    </tr>
  </tbody>
</nz-table>


<nz-modal [(nzVisible)]="renameDialogVisible" nzTitle="重命名" (nzOnCancel)="renameCancel()" (nzOnOk)="renameOk()">
  <nz-input-group nzAddOnBefore="名称：">
    <input type="text" nz-input [(ngModel)]="newName" />
  </nz-input-group>
</nz-modal>
