<div style="text-align: right;padding: 8px">
  <button nz-button nzType="primary" (click)="addUser()" style="margin-right: 8px">添加用户</button>
  <button nz-button nzType="primary" (click)="updateUsers()">刷新</button>
</div>
<nz-table #basicTable [nzData]="users">
  <thead>
    <tr>
      <th>序号</th>
      <th>姓名</th>
      <th>管理员</th>
      <th nzWidth="300px">操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data;let i=index;">
      <td>{{data.id}}</td>
      <td>{{data.name}}</td>
      <td>{{data.isAdmin}}</td>
      <td>
        <button nz-button nzType="primary" (click)="editUser(data)">编辑</button>
        <nz-divider nzType="vertical"></nz-divider>
        <button nz-button (click)="delete(data)" nzType="danger" [disabled]="data.name==='admin'">删除</button>
      </td>
    </tr>
  </tbody>
</nz-table>

<nz-modal [(nzVisible)]="userInfoVisible" nzTitle="添加用户" [nzFooter]="null" (nzOnCancel)="doneAddUser(false)">
  <app-user-info (done)="doneAddUser($event)"></app-user-info>
</nz-modal>

<nz-modal [(nzVisible)]="userEditorVisible" nzTitle="编辑用户" [nzFooter]="null" (nzOnCancel)="doneEditUser(false)">
  <app-user-editor (done)="doneEditUser($event)"></app-user-editor>
</nz-modal>

<nz-modal [(nzVisible)]="userInfoVisible" nzTitle="添加用户" [nzFooter]="null" (nzOnCancel)="doneAddUser(false)">
  <app-user-info (done)="doneAddUser($event)"></app-user-info>
</nz-modal>

<nz-modal [(nzVisible)]="userDeleteVisible" nzTitle="是否删除用户？" (nzOnCancel)="doneDeleteUser(false)"
  (nzOnOk)="doneDeleteUser(true)">
  {{currentUser?.name}}
</nz-modal>
