.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, .2);
  margin: 16px 28px 16px 0;
  float: left;
  text-align: center;
  line-height: 31px;
  color: rgb(178, 189, 28);
}

.menu {
  line-height: 64px;
}
