<nz-tabset #tabset [nzTabPosition]="'top'" [nzAnimated]="true" [nzTabBarExtraContent]="extraTemplate"
  [(nzSelectedIndex)]="selectedIndex" class="full-height" style="background: #222222"
  [nzTabBarStyle]="{color:'#cccccc'}" (nzSelectedIndexChange)="changeEditor($event)">
  <nz-tab *ngIf="files.length===0" nzTitle="介绍">
    <app-introduction #introduction (event)='onIntroductionEvent($event)'></app-introduction>
  </nz-tab>
  <nz-tab *ngFor="let file of files" [nzTitle]="titleTemplate">
    <ng-template #titleTemplate>
      <div>
        {{ file.name }}
        <i nz-icon [nzType]="file.icon" (click)="closeFile(file)" class="ant-tabs-close-x"></i>
        <!-- <i *ngIf="!isFileChanged(file)" nz-icon nzType="close" (click)="closeFile(file)" class="ant-tabs-close-x"></i>
        <i *ngIf="isFileChanged(file)" nz-icon nzType="close-circle" (click)="closeFile(file)"
          class="ant-tabs-close-x"></i> -->
      </div>
    </ng-template>
    <app-editor (editorEvent)="onEditorEvent($event)" [filePath]="file.path"></app-editor>
  </nz-tab>
</nz-tabset>
<ng-template #extraTemplate>
  <div *ngIf="files.length>0">
    <!-- <button (click)="add()">add</button> -->
    <button *ngIf="canExec()" nz-button nzType="link" nzShape="circle" (click)="execFile()" nzGhost nz-tooltip
      nzTitle="执行文件"><i nz-icon type="caret-right"></i></button>
    <button nz-button nzType="link" nzShape="circle" (click)="saveAllFiles()" nzGhost nz-tooltip nzTitle="保存全部文件"><i
        nz-icon type="save"></i></button>
    <nz-select style="width: 120px;margin-left: 8px" [(ngModel)]="currentLanguage" (ngModelChange)="changeLanguage()"
      nzAllowClear>
      <nz-option *ngFor="let id of ideService.getLanguageIds()" [nzValue]="id" [nzLabel]="id"></nz-option>
    </nz-select>
  </div>
</ng-template>

<!-- 保存对话框 -->
<nz-modal [(nzVisible)]="saveModalVisible" [nzTitle]="'保存文件'" (nzOnCancel)="onSaveModalCancel()"
  [nzFooter]="saveModalFooter">
  <p>是否保存文件？</p>
  <p *ngFor="let file of filesToSave">{{file.name}}</p>

  <ng-template #saveModalFooter>
    <button nz-button nzType="primary" (click)="onSaveModalConfirm()" [nzLoading]="isConfirmLoading">是</button>
    <button nz-button nzType="default" (click)="onSaveModalDeny()">否</button>
    <button nz-button nzType="default" (click)="onSaveModalCancel()">取消</button>
  </ng-template>
</nz-modal>
