<nz-table #imageTable [nzData]="images" [nzPageSize]="10">
  <thead>
    <tr>
      <th>repository</th>
      <th>tag</th>
      <th>image_id</th>
      <th>created</th>
      <th>size</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let image of imageTable.data;let i=index">
      <td>{{image.repository}}</td>
      <td>{{image.tag}}</td>
      <td>{{image.id}}</td>
      <td>{{image.created}}</td>
      <td>{{image.size}}</td>

      <td>
        <nz-dropdown>
          <a nz-dropdown> 操作 <i nz-icon type="down"></i> </a>
          <ul nz-menu nzSelectable>
            <li nz-menu-item (click)="createContainer(image.id)">
              <a>创建容器</a>
            </li>
            <li nz-menu-item (click)="remove(image.id)">
              <a>删除</a>
            </li>
          </ul>
        </nz-dropdown>
      </td>

    </tr>
  </tbody>
</nz-table>
