<div style="text-align: right;padding: 8px">
  <button nz-button nzType="primary" (click)="updateImages()" style="margin-right: 8px">刷新</button>
  <button nz-button nzType="primary" (click)="pullImage()">获取镜像</button>
</div>
<nz-table #imageTable [nzData]="images" [nzPageSize]="10">
  <thead>
    <tr>
      <th>repository</th>
      <th>tag</th>
      <th>created</th>
      <th>size</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let image of imageTable.data;let i=index">
      <td>{{image.repository}}</td>
      <td>{{image.tag}}</td>
      <td>{{image.created}}</td>
      <td>{{image.size}}</td>

      <td>
        <button nz-button nzType="primary" (click)="createContainer(image)"
          [nzLoading]="isCreatingContainer && (containerInfo.id===image.repoTags[0] || containerInfo.id===image.id)">创建容器</button>
        <nz-divider nzType="vertical"></nz-divider>
        <button nz-button nzType="danger" *ngIf="isAdmin" (click)="remove(image.id)">删除镜像</button>
        <!-- <nz-dropdown>
          <a nz-dropdown> 操作 <i nz-icon type="down"></i> </a>
          <ul nz-menu nzSelectable>
            <li nz-menu-item (click)="createContainer(image)">
              <a>创建容器</a>
            </li>
            <li nz-menu-item *ngIf="isAdmin" (click)="remove(image.id)">
              <a>删除</a>
            </li>
          </ul>
        </nz-dropdown> -->
      </td>

    </tr>
  </tbody>
</nz-table>

<nz-modal [(nzVisible)]="containerDialogVisible" nzTitle="容器设置" (nzOnCancel)="containerDialogCancel()"
  (nzOnOk)="containerDialogOk()">
  <form nz-form [formGroup]="containerForm">
    <nz-form-item>
      <nz-form-label [nzSpan]="4">容器名</nz-form-label>
      <nz-form-control [nzSpan]="20">
        <nz-input-group>
          <input type="text" nz-input formControlName="name" placeholder="容器名" [value]="defaultContainerName" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item *ngFor="let port of portList;let i=index;">
      <nz-form-label [nzSpan]="4" *ngIf="i===0">开放端口</nz-form-label>
      <nz-form-control [nzSpan]="20" [nzOffset]="i == 0 ? 0 : 4">
        <nz-input-number [nzMin]="1024" [nzMax]="65535" [nzStep]="1" class="passenger-input"
          [formControlName]="port.controlName"></nz-input-number>
        <i nz-icon nzType="minus-circle-o" class="dynamic-delete-button" (click)="removePort(port, $event)"></i>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 20, offset: 4 }">
        <button nz-button nzType="dashed" class="add-button" (click)="addPort($event)">
          <i nz-icon nzType="plus"></i>
          添加端口
        </button>
      </nz-form-control>
    </nz-form-item>
    <!-- <nz-form-item>
      <nz-form-label [nzSpan]="6" style="text-align: left">使用Nvidia显卡</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <nz-radio-group formControlName="isNvidia">
          <label nz-radio [nzValue]="true">是</label>
          <label nz-radio [nzValue]="false">否</label>
        </nz-radio-group>
      </nz-form-control>
    </nz-form-item> -->
  </form>
</nz-modal>

<nz-modal [(nzVisible)]="pullImageDialogVisible" nzTitle="获取镜像" nzWidth="800px" [nzFooter]="modalFooter"
  (nzOnCancel)="pullImageDialogCancel()">
  <nz-input-group nzCompact>
    <label style="width: 20%;">Image：</label>
    <input nz-input #imageNameInput [(ngModel)]="imageName" style="width:80%;" [nzAutocomplete]="auto" />
    <nz-autocomplete nzBackfill #auto>
      <nz-auto-option *ngFor="let suggestion of imageSuggestions" [nzValue]="suggestion">
        {{ suggestion }}
      </nz-auto-option>
    </nz-autocomplete>
  </nz-input-group>
  <nz-input-group nzCompact style="padding-top: 8px">
    <label style="width: 20%;">Version：</label>
    <input nz-input [(ngModel)]="imageVersion" style="width:80%;" placeholder="latest" />
  </nz-input-group>
  <app-dockerimage-shell *ngIf="pullImageShellVisible" #terminalElement></app-dockerimage-shell>

  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="pullImageDialogCancel()">取消</button>
    <button nz-button nzType="primary" (click)="pullImageDialogOk()" [nzLoading]="pullImageShellVisible">确认</button>
  </ng-template>
</nz-modal>
