<div style="height: 100%;overflow: auto">
  <nz-tree id="tree" nzAsyncData [nzData]="fileList" (nzDblClick)="openFolder($event)"
    (nzExpandChange)="onExpandChange($event)">

    <ng-template #nzTreeTemplate let-node>
      <nz-dropdown *ngIf="!node.isLeaf">
        <span nz-dropdown>
          <i nz-icon [type]="node.isExpanded ? 'folder-open' : 'folder'" (click)="openFolder(node)"></i>
          <span class="folder-name">{{ node.title }}</span>
        </span>
        <ul nz-menu nzInDropDown>
          <!-- <li nz-menu-item (click)="newFile()">新建文件</li>
          <li nz-menu-item (click)="newDir()">新建文件夹</li> -->
          <nz-upload [nzCustomRequest]="uploadReq" [nzShowUploadList]="false">
            <li nz-menu-item (click)="activeNode(node)">上传文件</li>
          </nz-upload>
          <br>
          <nz-upload nzDirectory [nzCustomRequest]="uploadReq" [nzShowUploadList]="false">
            <li nz-menu-item (click)="activeNode(node)">上传文件夹</li>
          </nz-upload>
          <li nz-menu-item (click)="showRemoveDirModal(node)">删除</li>
        </ul>
      </nz-dropdown>
      <nz-dropdown *ngIf="node.isLeaf">
        <span nz-dropdown>
          <i nz-icon type="file"></i>
          <span class="file-name">{{ node.title }}</span>
        </span>
        <ul nz-menu nzInDropDown>
          <!-- <li nz-menu-item (click)="openFile()">打开</li>
          <li nz-menu-item (click)="saveFile()">保存</li> -->
          <li nz-menu-item (click)="showRemoveFileModal(node)">删除</li>
        </ul>
      </nz-dropdown>

    </ng-template>
  </nz-tree>
</div>

<nz-modal [(nzVisible)]="modalInfo.alertModalVisible" [nzTitle]="modalInfo.modalTitle" (nzOnCancel)="onModalCancel()"
  (nzOnOk)="onModalConfirm()">
  <p>{{modalInfo.modalMessage}}</p>
</nz-modal>
